.container {
   box-sizing: border-box;
   max-width: 800px;
   margin: auto;
   background: #d6d6d6;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
   border: 2px solid #537b87; /* Add border */
}

.centerFlex {
   display: flex;
   align-items: center;
   justify-content: center;
}

.cell {
   border: 2px solid;
   padding: 0.5em;
}

.dotted {
   border: 2px dotted red;
}
